<h2 align="center">Add a new Theory</h2>

<div class="jumbotron">
  <h4 class="display-4">New Theory</h4>
  <p class="lead">Please, provide your theory</p>

  <form id="user-form" (ngSubmit)="onSubmit()" #form="ngForm">
    <fieldset>
      <div id="formulaire">

        <!-- name input -->
        <div class="form-group" [class.was-validated]="name.dirty || name.touched">
          <label class="control-label" for="name">Name*</label>
          <input id="name" name="name" type="text" class="form-control"
                 [(ngModel)]="theory.name" #name="ngModel">
          <div class="invalid-feedback"></div>
        </div>
        <!-- text input -->
        <div class="form-group" [class.was-validated]="text.dirty || text.touched">
          <label class="control-label" for="text">Text*</label>
          <textarea id="text" name="text" type="text" class="form-control" rows=3
                    [(ngModel)]="theory.text" #text="ngModel"></textarea>
          <div class="invalid-feedback"></div>
        </div>
        <!-- url input -->
        <div class="form-group" [class.was-validated]="contentLink.dirty || contentLink.touched">
          <label class="control-label" for="contentLink">Content Link</label>
          <input id="contentLink" name="contentLink" type="text" class="form-control"
                 [(ngModel)]="theory.contentLink" #contentLink="ngModel">
          <div class="invalid-feedback"></div>
        </div>
        <!-- topic input -->
        <div class="form-group" [class.was-validated]="topic.dirty || topic.touched">
          <label class="control-label" for="topicId">In the topic*:</label>
          <select id="topicId" name="topicId" type="text" class="form-control"
                  [(ngModel)]="theory.topic" #topic="ngModel" required>
            <option *ngFor="let topic of topics" [value]="topic.uri" >{{topic.name}}</option>
          </select>
          <div class="invalid-feedback"></div>
        </div>
        <!-- level input -->
        <div class="form-group" [class.was-validated]="level.dirty || level.touched" >
          <label class="control-label" for="levelId">Level associated with this theory*:</label>
          <select id="levelId" name="levelId" type="text" class="form-control"
                  [(ngModel)]="theory.level" #level="ngModel" required>
            <option *ngFor="let level of levels" [value]="level.uri" >{{level.name}}</option>
          </select>
          <div class="invalid-feedback"></div>
        </div>




        <!-- Button -->
        <div class="form-group">
          <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>

</div>

<!--Footer-->
<footer class="modal-footer">
  <div class="container">
    <div class="text-center">
      <small>Footer...</small>
    </div>
  </div>
</footer>
