<ion-header>
  <ion-toolbar>
    <ion-title>
      Marks & Results
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Your Courses</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/js_1.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>JavaScript</h2>

        <p>Awesome Artist</p>
      </ion-label>
      <ion-button slot="end" fill="clear">
        <ion-icon slot="icon-only" name="ribbon"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/python_1.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Hit Single</h2>
        <p>New Album</p>
        <p>Awesome Artist</p>
      </ion-label>
      <ion-button slot="end" fill="clear">
        <ion-icon slot="icon-only" name="ribbon"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
