<ion-header>
  <ion-toolbar>
    <ion-title>Lesson</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable value="home">
    <ion-segment-button value="home">
      <ion-icon name="images"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-icon name="document"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-icon name="help"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <img src="/assets/video_1.png" height="220" />
  <ion-card>
    <ion-card-header>
      <label>
        Theory Title
      </label>
    </ion-card-header>
    <ion-card-content>
      <p>
        Here’s a small text description for the card component. Nothing more,
        nothing less. Here’s a small text description for the card component.
        Nothing more, nothing less. Here’s a small text description for the card
        component.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-radio-group>
    <ion-list-header>
      Question about theory ?
    </ion-list-header>
    <ion-item>
      <ion-label>option 1</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>option 2</ion-label>
      <ion-radio value="duesenberg"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>option 3</ion-label>
      <ion-radio value="hudson"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="options"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
