
p {
  font-size: 20px;
}
.imglist li{
  font-size:14px;
  margin-left:25px;
  list-style:url('https://scontent-mad1-1.xx.fbcdn.net/v/t1.15752-9/96313149_605153600396290_5450959650683879424_n.png?_nc_cat=107&_nc_sid=b96e70&_nc_ohc=I7aVFODTdBEAX-9Dctv&_nc_ht=scontent-mad1-1.xx&oh=6adb02b49b1f6a2444c20f51c8fa6d72&oe=5EDC0EBD');
  line-height:30px;
}
.imglist li a:link, .imglist li a:visited{
  color:#1e598e;
  text-decoration:none;
}
.imglist li a:hover{
  color:#0A7CAF;
  padding:2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
