<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">Theory numéro {{theory._links.self.href.split('/')[4]}}</h4>
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Id</h6>
        <p class="card-text">{{theory._links.self.href.split('/')[4]}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Name</h6>
        <p class="card-text">{{theory.name}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">level</h6>
        <p class="card-text">{{theory.level.name}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">topic</h6>
        <p class="card-text">{{theory.topic.name}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Text</h6>
        <p class="card-text">{{theory.text}} </p>
      </div>
      <div class="col-md-4 p-3">
        <youtube-player
          *ngIf="theory.contentLink.split('/')[2]=='www.youtube.com'"
          videoId="{{theory.contentLink.split('=')[1]}}"
          suggestedQuality="highres"
          [height]="250"
          [width]="500"
          [startSeconds]="'4'"
          [endSeconds]="8">
        </youtube-player>

      </div>
      <div class="col-md-4 p-3">
        <iframe *ngIf="theory.contentLink.split('/')[2]!='www.youtube.com'" [src]="theory.contentLink"></iframe>
      </div>




    </div>



    <div class="card-footer text-right">
      <button id="listBtn" type="button" [routerLink]="['/theories']"
              class="btn m-1 btn-outline-primary">Recipes List
      </button>
      <button id="editBtn" type="button"  [routerLink]="['edit']"
              class="btn m-1 btn-outline-success">Edit
      </button>
      <button id="deleteBtn" type="button"  [routerLink]="['delete']"
              class="btn m-1 btn-outline-danger">Delete
      </button>
    </div>
  </div>
</div>
