<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">{{finalLevelExam.id}}</h4>
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Final Level Exam ID</h6>
        <p class="card-text">{{finalLevelExam.id}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Name</h6>
        <p class="card-text">{{finalLevelExam.name}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Topic</h6>
        <p class="card-text">{{finalLevelExam.topic}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Level</h6>
        <p class="card-text">{{finalLevelExam.level}}</p>
      </div>
    </div>
    <div class="card-footer text-right">
      <button id="listBtn" type="button" [routerLink]="['/finalLevelExams']"
              class="btn m-1 btn-outline-primary">FinalLevelExam List
      </button>
      <button id="editBtn" type="button" *ngIf="getCurrentUser().id == finalLevelExam.id" [routerLink]="['edit']"
              class="btn m-1 btn-outline-success">Edit
      </button>
      <button id="deleteBtn" type="button" *ngIf="getCurrentUser().id == finalLevelExam.id" [routerLink]="['delete']"
              class="btn m-1 btn-outline-danger">Delete
      </button>
    </div>
  </div>
</div>
